@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration panel</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/theme.css" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default"><p style="text-align: center;  color: white;font-size: 30px; font-family: 'Arial', courier, serif; font-weight: 800; margin-top: 10px">Administration panel</p></nav>
    <div style="margin: 50px">
        <h3>Clients cars</h3>
        <table class="table table-striped table-hover">
            <tr class="success">
                <td><p>Make</p></td>
                <td><p>Model</p></td>
                <td><p>Year</p></td>
                <td><p>VIN</p></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var c in ViewBag.Cars)
            {
                <tr>
                    <td><p>@c.Make</p></td>
                    <td><p>@c.Model</p></td>
                    <td><p>@c.Year</p></td>
                    <td><p>@c.VIN</p></td>
                    <td><p><a href="/Home/EditCar/@c.CarId">Edit car data</a></p></td>
                    <td><p><a href="/Home/DeleteCar/@c.CarId">Delete car</a></p></td>
                    <td><p style="margin-left: 50px;"><a href="/Home/Orders/@c.CarId">Orders of car</a></p></td>
                </tr>
            }
        </table>
        <p><a href="/Home/AddNewCar/@ViewBag.ClientId">Add new car</a></p>
    </div>
    <div style="margin: 50px" class="next">
        <a href="/Home/ClientCard/@ViewBag.ClientId">&larr; Back to Client info</a>
    </div>
</body>
</html>